.communityContainer {
    margin: 0;
    .communityBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .communityContent {

            .communityTop{
                flex-grow: 1;
                padding: auto;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 3.25rem;
                margin: 2.69rem auto 1.37rem auto;
                
            }
            .communityTitle {
                color: #000;
                font-size: 1.5rem;
                font-weight: 700;
            }

            .commentList {
                .writeComment {
                    display: flex;
                    flex-direction: column;
                    .user {
                        display: flex;
                        .userName{
                            padding: 7px;
                            color: #000;
                            font-size: 1rem;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                    .commentText {
                        width: 590px;
                        padding: 15px;
                    }
                    .group {
                        display: flex;
                        flex-direction: row;
                        border-bottom: 1px solid var(--line, #E4E4E4);
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                    }
                    .repliesContainer {
                        margin-left: 40px;
                        padding: 10px;
                        justify-content: space-between;
                        .reply {
                            display: flex;
                            flex-direction: row;
                            padding: 5px;
                            .replyText {
                                width: 300px;
                            }
                            .replyUser {
                                display: flex;
                                color: #000;
                                font-size: 1rem;
                                font-weight: 600;
                                .replyUserName {
                                    padding: 7px;
                                }
                            }
                            
                        }
                    }

                }
                
                div {
                    margin-right: 10px;
                }
                

            }
            .newComment {
                display: flex;
                flex-direction: row;
                /*vertical-align: middle;  수직 가운데 정렬 */
                /*justify-content: center;  세로 중앙 정렬 */
            }
        }
    }
}

/*.commentList {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .writeComment {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 0;
        .repliesContainer {
            margin-left: 40px;
            justify-content: space-between;
            .reply {
                display: flex;
                flex-direction: column;
                margin: 5px;
              }
          }
    }
}*/

/**.searchBox {
    width: 472px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-color: #D1EFEE;
    .search {
        color: #B0B0B0;
        font-size: 14pt;
        font-weight: 500;
        text-align: center;
        margin: auto 0 auto 1.25rem;
    }
    .searchLogo {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        margin: auto 0.94rem auto 0;
    }
} */

/* 서치박스 */
.Search {
    width: 29.5rem;
    height: 3rem;
    border-radius: 1.875rem;
    border: 2px solid #D1EFEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.63rem 1.31rem;
    gap: 1.31rem;

    input {
        width: 100%;
        border: none;
        outline: none;
        background: none;
    }
  }




  
 
.inputComment {
    width: 596px;
    height: 92px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background: #F0F9F8;
    font-size: 14pt;
    padding: 10px;
    outline-color: #85D6D1;
    resize: none;
}

.inputReplyForm {
    display: flex;
    align-items: center;
    .inputReply {
        resize: none;
        outline-color: #F0F9F8;
    }
}


.pagination {
    display: flex;
    flex-direction: row;
    gap: 2.38rem;
    justify-content: center;
    button {
        color: #a9a9a9;
        font-family: Noto Sans;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: -0.0175rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    
        &:hover {
          color: #333;
        }
    }
}