.storeContainer {
margin: 0;
align-items: center;

/* 상점 */
.storeTitle{
  display: flex;
  font-size: 24pt;
  font-weight: 700;
  align-items: center;
}

.store-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  /* 카테고리 */
  .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    .category-btn {
      height: 30px;
      padding: 10px;
      border-radius: 40px;
      color: #797979;
      background-color: #FFFFFF;
      border-style: 1px solid;
      border-color:  #E4E4E4;
      font-size: 10pt;
      margin: 3px;
      line-height: 0.5;
    }

    .category-btn:active {
      color: #FFFFFF;
      background-color: #85D6D1;
      border-style: none;
    }
  }

/* 서치박스 */
  .StoreSearch {
    width: 29.5rem;
    height: 3rem;
    border-radius: 1.875rem;
    border: 2px solid #D1EFEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.63rem 1.31rem;
    gap: 1.31rem;

    input {
        width: 100%;
        border: none;
        outline: none;
        background: none;
    }
  }
}

/* 담은 상품, 상품 목록 */
.row-container
{display: flex;
gap: 20px;
align-items: flex-start; /* 세로방향으로 맞춤 조정 */

/* @@님이 담은 상품이에요 */
.userCart
 { display: inline-block;
  border: 1px solid #85D6D1;
  border-radius: 10px;
  padding:10px;
  align-items: center;

  .usercart-text {
    font-size: 16px;
    font-weight: 700;
    margin: 5px;
  }

  .nickname
  {color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin: auto 0.37rem auto 0;}

  /* @@님이 담은 상품이에요 - 담은 상품 목록 */
  .cart-section{
    align-items: center;
    text-align: center;
    justify-content: center;
  
    .cart-list {
      li{
        list-style-type:none;
        color:#797979;
        font-size: 10pt;
      }}

      .item-img{
        width: 32px;
        height: 32px;
        border-radius: 10px;
        vertical-align: middle; /* 수직 가운데 정렬 */
        margin: 5px;
      }
    }
  
    .cartBuy-btn {
      width: 142px;
      height: 34px;
      border-radius: 7px;
      background-color: #85D6D1;  
      font-size: 12pt;
      border: none;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin: 10px;
    }  
  }

  /* 상품 목록 테이블 */
  .products-table
  {width: 70%;
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  text-align: center; 
  vertical-align: middle; /* 수직 가운데 정렬 */

    thead{
        width:783px;
        height:57px;
        background: #F0F9F8;
        color: #3EB7AF;
        font-size: 16pt;
    }
    tbody, td{
        font-size: 14pt;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .product-img {
        border-radius: 10px;
        padding-top: 5px;
    } 
  }

  }
}



