.transContainer {
    margin: 0;
    .transBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .transContent {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3.25rem;
            .profile {
                margin: 3.6925rem 1.87rem 0 0;
                padding: 0;
            }
            .transProfile {
                display: flex;
                flex-direction: column;
                gap: 1.88rem;
                .transTitle {
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: 700;
                }    
                .transInfo {
                    width: 49.0625rem;
                    border-radius: 0.625rem 0.625rem 0rem 0rem ;
                    max-height: 27.75rem; /* 원하는 높이로 조정 */
                        overflow-y: scroll;
                        scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
                        -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
                        &::-webkit-scrollbar {
                            width: 0px;
                            height: 0px;
                        }                
                .transInfo-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    //margin-top: 1rem; 주석처리해야 transInfo에서 radius 줄 수 있음
                    table {
                    width: 48.9375rem;
                    border-collapse: collapse;
                    thead {
                        border-radius: 0.625rem 0.625rem 0rem 0rem;
                        height: 3.5625rem;
                        background: #D1EFEE;
                        color: #3EB7AF;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    tbody {
                        .transItems {
                            
                        td {
                            .transItems-name {
                                color: #000;
                                text-align: center;
                                font-size: 0.875rem;
                                font-weight: 500;
                            }
                            .transItems-code {
                                color: var(--sub-text-2, #B0B0B0);
                                text-align: center;
                                font-size: 0.625rem;
                                font-weight: 500;
                            }
                            border-bottom: 0.0625rem solid #ABE2DF;
                            height: 3.84544rem;
                            font-size: 0.875rem;
                            font-weight: 500;
                            color: #797979;
                            padding: 0.625rem;
                            align-items: center;
                            justify-content: center; //btn가운데정렬
                            font-size: 0.875rem;
                            line-height: normal;
                        }

                        .transItem-image {
                            border-radius: 50%;
                            width: 3.22056rem;
                            height: 3.22056rem;
                            flex-shrink: 0;
                        }
                        }
                    }
                    }
            } 
                    
                    .transInfo-scrollable {
                        max-height: 27.75rem; /* 원하는 높이로 조정 */
                        overflow-y: scroll;
                        scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
                        -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
                        &::-webkit-scrollbar {
                            width: 0px;
                            height: 0px;
                        }
                       
                        }
                }
            }
        }

    }
}
